<div id="app" data-app-name="Customer Details" *ngIf="isLoading"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Customers</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item" style="font-weight: bolder;" (click)="logMeOut()"><a href="#">Log Out</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

 <!-- /.card-header -->
  
 <div class="card-body"  style="line-height: 1;">
    <table id="example1" class="table table-bordered table-striped" *ngIf="!isLoading" datatable [dtOptions]="dtOptions">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody >
          <tr *ngFor="let item of customers;">
              <td style="text-align:center;">{{item.cid}}</td>
              <td>{{item.firstname}}</td>
              <td>{{item.lastname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.contact}}</td>
              <td>{{item.regdate}}</td>
              <td style="text-align: right; cursor: pointer;"><i class="fas fa-ellipsis-v" title="More Information" style="color: gray;" data-toggle="modal" data-target="#customerForm"
                (click)="RowSelected(item)"></i></td>
          </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body --> 
   <!-- Modal -->
<div class="modal fade" id="customerForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{this.customerFN}} {{this.customerLN}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="form_table" *ngFor="let subitem of selectedcustomer;">
                <tr>
                  <td>
                    <label>Customer NIC:</label>
                  </td>
                  <td>
                    <span>&nbsp;&nbsp;&nbsp;{{subitem.nic}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Customer Age:</label>
                  </td>
                  <td>
                    <span>&nbsp;&nbsp;&nbsp;{{subitem.age}}</span>
                  </td>
                </tr>
                <tr>
                    <td>
                        <label>Customer Gender:</label>
                      </td>
                      <td>
                        <span>&nbsp;&nbsp;&nbsp;{{subitem.gender}}</span>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label>Customer Address:</label>
                      </td>
                      <td>
                        <span>&nbsp;&nbsp;&nbsp;{{subitem.address}}</span>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label>Current Points:</label>
                      </td>
                      <td>
                        <span>&nbsp;&nbsp;&nbsp;{{subitem.points}}</span>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label>Make Transaction:</label>
                      </td>
                      <td>
                        &nbsp;&nbsp;&nbsp;<input type="text" placeholder="Enter Amount..." style="font-size: 14px;">
                      </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: right;"> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Proceed Transfer</button>
                          </div>
                    </td>
                </tr>
  