.box {
  background-color: rgb(221, 215, 215);
  color: black;
  padding: 2%;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
  border: 1px solid #121213;
  box-shadow: 0 0 0 0.2rem rgba(168, 165, 170, 0.25);
}
.mt-5 {
  margin-top: 2% !important;
  margin-left: 1%;
  margin-right: 3% !important;
}
.col-md-6 {
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  padding-left: 35%;
  padding-top: 12%;
  padding-bottom: 21%;
  left: 0px;
  top: 100px;
  position: relative;
}

.alert > .start-icon {
  margin-right: 0;
  min-width: 20px;
  text-align: center;
}

.alert > .start-icon {
  margin-right: 5px;
}

.greencross {
  font-size: 18px;
  color: #259c08;
  text-shadow: none;
}

.alert-simple.alert-success {
  border: 1px solid rgba(36, 241, 6, 0.46);
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  box-shadow: 0px 0px 2px #259c08;
  color: #0ad406;
  transition: 0.5s;
  cursor: pointer;
}
.alert-success:hover {
  background-color: rgba(7, 149, 66, 0.35);
  transition: 0.5s;
}
.alert-simple.alert-info {
  border: 1px solid rgba(6, 44, 241, 0.46);
  background-color: rgba(7, 73, 149, 0.12156862745098039);
  box-shadow: 0px 0px 2px #0396ff;
  color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition: 0.5s;
  cursor: pointer;
}

.alert-info:hover {
  background-color: rgba(7, 73, 149, 0.35);
  transition: 0.5s;
}

.blue-cross {
  font-size: 18px;
  color: #0bd2ff;
  text-shadow: none;
}

.alert-simple.alert-warning {
  border: 1px solid rgba(241, 142, 6, 0.81);
  background-color: rgba(220, 128, 1, 0.16);
  box-shadow: 0px 0px 2px #ffb103;
  color: #ffb103;
  transition: 0.5s;
  cursor: pointer;
}

.alert-warning:hover {
  background-color: rgba(220, 128, 1, 0.33);
  transition: 0.5s;
}

.warning {
  font-size: 18px;
  color: #4e3705;
  text-shadow: none;
}

.alert-simple.alert-danger {
  border: 1px solid rgba(241, 6, 6, 0.81);
  background-color: rgba(220, 17, 1, 0.16);
  box-shadow: 0px 0px 2px #ff0303;
  color: #ff0303;
  transition: 0.5s;
  cursor: pointer;
}

.alert-danger:hover {
  background-color: rgba(220, 17, 1, 0.33);
  transition: 0.5s;
}

.danger {
  font-size: 18px;
  color: #ff0303;
  text-shadow: none;
}

.alert-simple.alert-primary {
  border: 1px solid rgba(6, 241, 226, 0.81);
  background-color: rgba(1, 204, 220, 0.16);
  box-shadow: 0px 0px 2px #03fff5;
  color: #03d0ff;
  text-shadow: 2px 1px #00040a;
  transition: 0.5s;
  cursor: pointer;
}

.alert-primary:hover {
  background-color: rgba(1, 204, 220, 0.33);
  transition: 0.5s;
}

.alertprimary {
  font-size: 18px;
  color: #03d0ff;
  text-shadow: none;
}

.square_box {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 45px;
  opacity: 0.302;
}

.square_box.box_three {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: -80px;
  top: -60px;
  width: 500px;
  height: 500px;
  border-radius: 45px;
}

table.form_table {
  width: 100%;
}

table.form_table tr td {
  padding: 5px;
  background: #e8f4f8;
}
.tableFixHead {
  overflow: auto;
  height: 100px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}
table.form_table tr:nth-child(even) td {
  background: #fafafa;
}

table.form_table tr:hover td {
  background: #e3e3e3;
}

table.form_table tr td:first-child {
  width: 20%;
}

.square_box.box_four {
  background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
  opacity: 0.059;
  left: 150px;
  top: -25px;
  width: 550px;
  height: 550px;
  border-radius: 45px;
}

.alert:before {
  content: "";
  position: absolute;
  width: 0;
  height: calc(100% - 44px);
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}

.fa-times {
  -webkit-animation: blink-1 2s infinite both;
  animation: blink-1 2s infinite both;
}
#points {
  background-color: #8dbde7;
  padding: 2%;
  border-radius: 5%;
  width: 374px;
  border: none;
}
#app:empty {
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#app:empty:before {
  -webkit-animation: page-loading-spin 8s infinite linear;
  animation: page-loading-spin 8s infinite linear;
  transform-origin: 50% 50%;
  transform: translateZ(0);
  content: "";
  position: fixed;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  background-color: transparent;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 75px 1px 0 0 rgba(0, 0, 0, 0.1),
    53.325901794px 53.325901794px 0 0 rgba(0, 0, 0, 0.1),
    1px 75px 0 0 rgba(0, 0, 0, 0.1),
    -51.325901794px 53.325901794px 0 0 rgba(0, 0, 0, 0.1),
    -73px 1px 0 0 rgba(0, 0, 0, 0.1),
    -51.325901794px -51.325901794px 0 0 rgba(0, 0, 0, 0.1),
    1px -73px 0 0 rgba(0, 0, 0, 0.1),
    53.325901794px -51.325901794px 0 0 rgba(0, 0, 0, 0.1);
}
#app:empty:after {
  content: "Loading\A"attr(data-app-name);
  color: rgba(0, 0, 0, 0.1);
  white-space: pre;
  text-align: center;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes page-loading-spin {
  0% {
    transform: scale(0.8) rotate(0deg) translateZ(0);
  }
  25% {
    transform: scale(1) rotate(270deg) translateZ(0);
  }
  50% {
    transform: scale(0.9) rotate(540deg) translateZ(0);
  }
  75% {
    transform: scale(1) rotate(810deg) translateZ(0);
  }
  100% {
    transform: scale(0.8) rotate(1080deg) translateZ(0);
  }
}
@keyframes page-loading-spin {
  0% {
    transform: scale(0.8) rotate(0deg) translateZ(0);
  }
  25% {
    transform: scale(1) rotate(270deg) translateZ(0);
  }
  50% {
    transform: scale(0.9) rotate(540deg) translateZ(0);
  }
  75% {
    transform: scale(1) rotate(810deg) translateZ(0);
  }
  100% {
    transform: scale(0.8) rotate(1080deg) translateZ(0);
  }
}

.form-control {
  height: 25px;
  height: 28px;
  font-size: 12px;
  width: 100%;
  font-weight: bold;
}
#example1 {
  font-size: 15px;
}
* {
  font-family: "Open Sans", sans-serif;
}
.btns {
  display: inline;
  margin-left: 8px;
}
/* #loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: 250px;
  margin-top: 250px;
} */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-query.modal {
  background: rgba(40, 96, 144, 0.8);
}
.modal-query .modal-content {
  background-color: #fff0;
  border: 1px solid rgba(58, 102, 141, 0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
}
.modal-query .form-group {
  margin-bottom: 20px;
}
.modal-query .close:hover {
  color: #fff;
  text-decoration: none;
}
.modal-query .close {
  float: right;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0px 0px 0 #fff;
  opacity: 1;
}
@media (min-width: 576px) {
  .modal-query .modal-dialog {
    max-width: 800px;
    margin: 20px auto;
  }
}

@media (min-width: 768px) {
  .modal-query .modal-dialog {
    width: 800px;
    margin: 20px auto;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .modal-query .modal-dialog {
    width: 770px;
    margin: 20px auto;
  }
}

.modal-query .close:not(:disabled):not(.disabled):focus,
.modal-query .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}
.modal-query input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.modal-query .Send_us_your_query {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.modal-query .OUR_TECHNICAL_SUPPOR {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 15px 0px;
}
.modal-query input,
optgroup,
select,
textarea {
  width: 100%;
  border-radius: 4px;
  padding: 5px 10px 0px 10px;
  border: none;
}
.modal-query input,
optgroup,
select {
  height: 34px;
}

.modal-query label {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.modal-query label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}
.modal-query input::placeholder {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.6);
}
.modal-query p {
  padding: 0px;
  margin-bottom: 10px;
}
.modal-query .Certified-ScrumMaste {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}
.modal-query .Workshop-Date {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .modal-query .OUR_TECHNICAL_SUPPOR {
    padding: 0px 0px 0px 0px;
  }
}
.modal-query .borderRight {
  border-right: 1px solid #fff;
}
.modal-query .marginBottom {
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  .modal-query .borderRight {
    border-right: 1px solid #fff0 !important;
  }
  .modal-query .marginBottom {
    margin-bottom: 0px;
  }
}

.modal-query select {
  width: 100%;
  padding: 5px 10px 0px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: url(dropdown.png) 96% / 5% no-repeat #fff; */
}

/* CAUTION: IE hackery ahead */
.modal-query select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  .modal-query select {
    background: none\9;
    padding: 5px\9;
  }
}

.modal-query .btn-submit {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: white;
  color: #286090;
}
.bootstrap-duallistbox-container .buttons {
  width: 100%;
  margin-bottom: -1px;
}
.bootstrap-duallistbox-container label {
  display: block;
}
.bootstrap-duallistbox-container .info {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 11px;
}
.bootstrap-duallistbox-container .clear1,
.bootstrap-duallistbox-container .clear2 {
  display: none;
  font-size: 10px;
}
.bootstrap-duallistbox-container .box1.filtered .clear1,
.bootstrap-duallistbox-container .box2.filtered .clear2 {
  display: inline-block;
}
.bootstrap-duallistbox-container .move,
.bootstrap-duallistbox-container .remove {
  width: 60%;
}
.bootstrap-duallistbox-container .btn-group .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bootstrap-duallistbox-container select {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.bootstrap-duallistbox-container .moveall,
.bootstrap-duallistbox-container .removeall {
  width: 40%;
}
.bootstrap-duallistbox-container.bs2compatible .btn-group > .btn + .btn {
  margin-left: 0;
}
.bootstrap-duallistbox-container select {
  width: 100%;
  height: 300px;
  padding: 0;
}
.bootstrap-duallistbox-container .filter {
  display: inline-block;
  width: 100%;
  height: 31px;
  margin: 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bootstrap-duallistbox-container .filter.placeholder {
  color: #aaa;
}
.bootstrap-duallistbox-container.moveonselect .move,
.bootstrap-duallistbox-container.moveonselect .remove {
  display: none;
}
.bootstrap-duallistbox-container.moveonselect .moveall,
.bootstrap-duallistbox-container.moveonselect .removeall {
  width: 100%;
}
