
  <div id="app" data-app-name="Stock Details" *ngIf="isLoading"></div>
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0" >Manage Current Stock</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item" style="font-weight: bolder;" (click)="logMeOut()"><a href="#">Log Out</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Button to Open the Modal -->
    <div class="btns">
<button type="button" class="btn btn-primary" style=" margin-left: 13px; text-align: center;" data-toggle="modal" data-target="#staticBackdrop" title="Add new item"> <i-bs name="plus-square"
  width="20"
    height="20"> 
</i-bs>  Add new Item</button>
    </div>
    <!-- The Modal -->
 <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Stock Item Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset(stock);resettempStock();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container mt-5" *ngIf="isSuccess" >
            <div class="row" style="padding-right: 3%;">
              <div class="col-sm-12">
                <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                  <button type="button" class="close font__size-18" data-dismiss="alert" >
                                            <span aria-hidden="true"><a>
                            <!--<i class="fas fa-times greencross"></i>-->
                            <i-bs name="x" class="greencross"
            width="20"
              height="20">
</i-bs>
                            </a></span>
                                            <span class="sr-only">Close</span> 
                                        </button>
                                        <i-bs name="check-circle"
                                        width="20"
                                          height="20" class="start-icon faa-tada animated"></i-bs>
                            <!--</i-bs><i class="start-icon far fa-check-circle faa-tada animated"></i>-->
                  <strong class="font__weight-semibold">Successfull!</strong> Added to Stock.
                </div>
              </div>
            </div>
          </div>       
          <div class="container mt-5" *ngIf="isNSuccess">
            <div class="row" style="padding-right: 3%;">
              <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                    <!--<i class="start-icon far fa-times-circle faa-pulse animated"></i>-->
                    <i-bs name="x-circle" class="start-icon faa-pulse animated "
            width="20"
              height="20">
</i-bs>
                    <button type="button" class="close font__size-18" data-dismiss="alert" >
                        <span aria-hidden="true"><a>
        <!--<i class="fas fa-times greencross"></i>-->
        <i-bs name="x" class="redcross"
    width="20"
    height="20">
    </i-bs>
        </a></span>
                        <span class="sr-only">Close</span> 
                    </button>
                   Something Went Wrong! Try Again.
                  </div>
              </div>
            </div>
          </div>       
    <div class="modal-body">
      <div >
          <form class="row">
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Apparel Category<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="Category" name="Category" (change)="firstDropDownChanged($any($event.target).value)" required [(ngModel)]="stock.category">
    <option *ngFor='let v of _values1' >{{v}}</option>
                  </select>
                  </div>
              </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Apparel Type<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="Type" name="type" required [(ngModel)]="stock.type" (change)="Calculate()">
    <option>Please select Category first</option>
    <option *ngFor='let v of _values2'>{{ v }}</option>
                  </select>
                  </div>
              </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Size<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="size" name="Size" required [(ngModel)]="stock.size">
                    <option value="General">General</option>
                    <option value="3S">3S</option>
                    <option value="2S">2S</option>
    <option value="XS">XS</option>
                    <option value="S" id="size"name="Size">S</option>
                    <option value="M" id="size"name="Size">M</option>
                    <option value="L" id="size"name="Size">L</option>
                    <option value="XL" id="size"name="Size">XL</option>
    <option value="2XL">2XL</option>
    <option value="3XL">3XL</option>
                  </select>
                  </div>
              </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Condition<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="condition" name="Condition" required [(ngModel)]="stock.condition" (change)="Calculate()">
    <option value="Used">Used</option>
                    <option value="Used in Good Condition" id="condition" name="Condition">Used in good condition</option>
                    <option value="Not Used" id="condition" name="Condition">Not Used</option>
                  </select>
                  </div>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Bill<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="bill"name="Bill" required [(ngModel)]="stock.bill" (change)="Calculate()">
    <option value="Available" id="bill"name="Bill">Available</option>
                    <option value="Not Available" id="bill"name="Bill">Not Available</option>
                  </select>
                  </div>
              </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Tag<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="tag"name="Tag" required [(ngModel)]="stock.tag" (change)="Calculate()">
    <option value="Available" id="tag"name="Tag">Available</option>
                    <option value="Not Available" id="tag"name="Tag">Not Available</option>
                  </select>
                  </div>
              </div>
  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Brand<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                  <select class="box" id="brand"name="Brand" required [(ngModel)]="stock.brand" (change)="Calculate()">    
    <option value="Luxurious" id="brand"name="Brand">Luxurious</option>
    <option value="Well Known" id="brand"name="Brand">Well Known</option>
                    <option value="Moderate" id="brand"name="Brand">Moderate</option> 
                    <option value="Unbranded" id="brand"name="Brand">Unbranded</option>
                  </select>
                  </div>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div>
                      <label>Points<span style="color: red;"> *</span></label>
                  </div>
                  <div>
                      <input type="text" name="Points" id="points" placeholder="Auto Calculated" required [(ngModel)]="stock.points"value="{{totalScore}}">
                  </div>
              <div *ngIf="isRejected"><p style="color: red;"> ~ Rejected ~</p></div>
              </div>
              <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                <button type="button" class="btn btn-primary" style="background-color: grey; border: none;" (click)="reset(stock)">Reset</button>&nbsp;
                  <button type="submit" class="btn btn-primary"*ngIf="!isRejected" (click)="saveStock();calculateUserPoints()">Add to Stock</button>
                  <button type="button" class="btn btn-primary" *ngIf="isRejected" disabled>Add to Stock</button>
              </div>
          </form>
      </div>   
      <div class="container mt-5" *ngIf="isTranSuccess" >
        <div class="row" style="padding-right: 3%;">
          <div class="col-sm-12">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
              <button type="button" class="close font__size-18" data-dismiss="alert" >
                                        <span aria-hidden="true"><a>
                        <!--<i class="fas fa-times greencross"></i>-->
                        <i-bs name="x" class="greencross"
        width="20"
          height="20">
</i-bs>
                        </a></span>
                                        <span class="sr-only">Close</span> 
                                    </button>
                                    <i-bs name="check-circle"
                                    width="20"
                                      height="20" class="start-icon faa-tada animated"></i-bs>
                        <!--</i-bs><i class="start-icon far fa-check-circle faa-tada animated"></i>-->
              <strong class="font__weight-semibold">Successfull!</strong> Transaction completed.
            </div>
          </div>
        </div>
      </div>       
      <div class="container mt-5" *ngIf="isTranNSuccess">
        <div class="row" style="padding-right: 3%;">
          <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <!--<i class="start-icon far fa-times-circle faa-pulse animated"></i>-->
                <i-bs name="x-circle" class="start-icon faa-pulse animated "
        width="20"
          height="20">
</i-bs>
                <button type="button" class="close font__size-18" data-dismiss="alert" >
                    <span aria-hidden="true"><a>
    <!--<i class="fas fa-times greencross"></i>-->
    <i-bs name="x" class="redcross"
width="20"
height="20">
</i-bs>
    </a></span>
                    <span class="sr-only">Close</span> 
                </button>
               Something Went Wrong! Try Again.
              </div>
          </div>
        </div>
      </div>       
      <h5 class="modal-title" id="exampleModalLabel">Customer Swap Information</h5><br/>
            <div class="tableFixHead" >
                <table style="font-size: 12px; line-height: 1px;" >
                  <thead>
                    <tr><th>Item ID</th><th>Points</th></tr>
                  </thead>
                  <tbody *ngFor="let temp of tempStock;">
                    <tr><td>{{temp.id}}</td><td>{{temp.points}}</td></tr>
                  </tbody>
                </table>
              </div> 
              <br> 
              <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                <p style="font-size: 12px;">Total Points : <span style="font-weight: bold; font-size: 18px;">{{userTot}}</span></p>
                <input type="text" name="nic" id="nic" style="height: 30px;background-color:#DCDCDC; border: none;" placeholder="  Customer Email" [(ngModel)]="customer.email">
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" (click)="makeTransaction()">Transfer</button>
              </div>
  </div>
  </div>
  </div>
  </div>
  
  <!-- /.card-header -->
  
<div class="card-body" style="line-height: 1;">
    <table id="example1" class="table table-bordered table-striped"  *ngIf="!isLoading" datatable [dtOptions]="dtOptions" >
      <thead >
        <tr>
          <th style="width: fit-content;">Item</th>
          <th>Category</th>
          <th>Type</th>
          <th>Size</th>
          <th>Condition</th>
          <th>Bill</th>
          <th>Tag</th>
          <th>Brand</th>
          <th>Points</th>
          <th style="width: fit-content;">Date</th>
          <th style="width: fit-content;">Move</th>
        </tr>
      </thead>
      <tbody >
          <tr *ngFor="let stock of stocks;" >
          <td>{{stock.sid}}</td>
          <td>{{stock.category}}</td>
          <td>{{stock.type}}</td>
          <td>{{stock.size}}</td>
          <td>{{stock.condition}}</td>
          <td>{{stock.bill}}</td>
          <td>{{stock.tag}}</td>
          <td>{{stock.brand}}</td>
          <td>{{stock.points}}</td>
          <td>{{stock.date}}</td>
          <td><i-bs name="folder-symlink"
            width="20"
              height="20" data-toggle="modal" data-target="#addForm" style="color: blue;cursor: pointer;"(click)="RowSelected(stock)">
</i-bs></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body --> 
  <!-- /.card -->

 
 <!-- Modal -->
 <div class="modal fade" id="addForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Complete Item Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>      
        </div>
        <div class="container mt-5" *ngIf="isSSuccess" >
            <div class="row" style="padding-right: 3%;">
              <div class="col-sm-12">
                <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                  <button type="button" class="close font__size-18" data-dismiss="alert" >
                                            <span aria-hidden="true"><a>
                            <!--<i class="fas fa-times greencross"></i>-->
                            <i-bs name="x" class="greencross"
            width="20"
              height="20">
</i-bs>
                            </a></span>
                                            <span class="sr-only">Close</span> 
                                        </button>
                                        <i-bs name="check-circle"
                                        width="20"
                                          height="20" class="start-icon faa-tada animated"></i-bs>
                            <!--</i-bs><i class="start-icon far fa-check-circle faa-tada animated"></i>-->
                  <strong class="font__weight-semibold">Successfull!</strong> Added to Showroom.
                </div>
              </div>
            </div>
          </div>       
          <div class="container mt-5" *ngIf="isSNSuccess">
            <div class="row" style="padding-right: 3%;">
              <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                    <!--<i class="start-icon far fa-times-circle faa-pulse animated"></i>-->
                    <i-bs name="x-circle" class="start-icon faa-pulse animated "
            width="20"
              height="20">
</i-bs>
                    <button type="button" class="close font__size-18" data-dismiss="alert" >
                        <span aria-hidden="true"><a>
        <!--<i class="fas fa-times greencross"></i>-->
        <i-bs name="x" class="redcross"
    width="20"
    height="20">
    </i-bs>
        </a></span>
                        <span class="sr-only">Close</span> 
                    </button>
                   Something Went Wrong! Try Again.
                  </div>
              </div>
            </div>
          </div> 
        <div class="modal-body">
                <table class="form_table" *ngFor="let ss of selectedStock;">
                    <tr>
                      <td>
                        <label>Item Code:</label>
                      </td>
                      <td>
                        <span>&nbsp;&nbsp;&nbsp;{{ss.sid}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label>Item Category:</label>
                      </td>
                      <td>
                        <span>&nbsp;&nbsp;&nbsp;{{ss.category}}</span>
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Item Name:</label>
                          </td>
                          <td>
                            <span>&nbsp;&nbsp;&nbsp;{{ss.type}}</span>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Item Size:</label>
                          </td>
                          <td>
                            <span>&nbsp;&nbsp;&nbsp;{{ss.size}}</span>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Item Points:</label>
                          </td>
                          <td>
                            <span>&nbsp;&nbsp;&nbsp;{{ss.points}}</span>
                          </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Additional Notes:</label>
                          </td>
                          <td>
                           <textarea name="Notes" id="notes" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="6" placeholder="Enter..." [(ngModel)]="showroom.notes"></textarea>
                          </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <label>Upload Images:</label>
                          </td>
                          <td>
                           &nbsp;&nbsp;<a style="font-size: 14px;text-decoration: underline;color:black;"href="" data-toggle="modal" data-target="#imagesForm">Get started</a>
                          </td>
                    </tr>-->
                    <tr>
                        <td></td>
                        <td style="text-align: right;"> 
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="saveApparel()">Add to Showroom</button>
                              </div>
                        </td>
                    </tr>

 <!-- Modal -->
 <div class="modal fade" id="imagesForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Complete Item Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="my-3">
                <app-upload-form [productID]="productID"></app-upload-form>
              </div>
              <div class="my-2">
                <app-upload-list [productID]="productID"></app-upload-list>
              </div>
      </div>
    </div>
  </div> 